<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="zed2i_base_link">
    <visual>
      <geometry>
        <box size="0.175 0.03 0.03"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="camera_base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="zed2i_base_link"/>
    <origin xyz="-0.05 -0.05 0.95" rpy="0 0 1.5708"/>
  </joint>

  <link name="zed2i_left_camera_frame"/>
  <joint name="zed2i_left_joint" type="fixed">
    <parent link="zed2i_base_link"/>
    <child link="zed2i_left_camera_frame"/>
    <origin xyz="0 0.03 0" rpy="0 0 0"/>
  </joint>

  <link name="zed2i_left_camera_optical_frame"/>
  <joint name="zed2i_left_optical_joint" type="fixed">
    <parent link="zed2i_left_camera_frame"/>
    <child link="zed2i_left_camera_optical_frame"/>

    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
  </joint>

  <link name="zed2i_right_camera_frame"/>
  <joint name="zed2i_right_joint" type="fixed">
    <parent link="zed2i_base_link"/>
    <child link="zed2i_right_camera_frame"/>
    <origin xyz="0 -0.03 0" rpy="0 0 0"/>
  </joint>

  <link name="zed2i_right_camera_optical_frame"/>
  <joint name="zed2i_right_optical_joint" type="fixed">
    <parent link="zed2i_right_camera_frame"/>
    <child link="zed2i_right_camera_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
  </joint>

  <gazebo reference="zed2i_left_camera_frame">
    <sensor name="zed2i_rgb" type="camera">
      <pose>0 0 0 0 0 0</pose>

      <camera>
        <horizontal_fov>1.5708</horizontal_fov>

        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>

        <clip>
          <near>0.05</near>
          <far>30.0</far>
        </clip>

        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.005</stddev>
        </noise>

        <optical_frame_id>zed2i_left_camera_optical_frame</optical_frame_id>
        <camera_info_topic>zed2i/camera_info</camera_info_topic>
      </camera>

      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>zed2i/image_raw</topic>
    </sensor>
  </gazebo>

  <gazebo reference="zed2i_left_camera_frame">
    <sensor name="zed2i_depth" type="depth">
      <pose>0 0 0 0 0 0</pose>

      <topic>zed2i/depth</topic>
      <update_rate>30</update_rate>
      <always_on>1</always_on>

      <gz_frame_id>zed2i_left_camera_optical_frame</gz_frame_id>

      <camera>
        <horizontal_fov>1.5708</horizontal_fov>

        <image>
          <width>1280</width>
          <height>720</height>
          <format>R_FLOAT32</format>
        </image>

        <clip>
          <near>0.3</near>
          <far>20.0</far>
        </clip>
      </camera>

      <plugin filename="libgz-sim8-sensors-system.so"
              name="gz::sim::v8::systems::Sensors"/>
    </sensor>
  </gazebo>

  <gazebo reference="zed2i_right_camera_frame">
    <sensor name="zed2i_right" type="camera">
      <pose>0 0 0 0 0 0</pose>

      <camera>
        <horizontal_fov>1.5708</horizontal_fov>

        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>

        <clip>
          <near>0.05</near>
          <far>30.0</far>
        </clip>

        <optical_frame_id>zed2i_right_camera_optical_frame</optical_frame_id>
      </camera>

      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <topic>zed2i/right/image_raw</topic>
    </sensor>
  </gazebo>

</robot>