<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="igvc">

    <xacro:include filename="$(find igvc_description)/urdf/model.urdf.xacro"/>
    <xacro:include filename="$(find igvc_description)/urdf/control.urdf.xacro"/>
    <xacro:include filename="$(find igvc_description)/urdf/sensors.urdf.xacro"/>

</robot>