<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="igvc_robot">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_mock_hardware" default="false" />

    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <origin rpy="0 0 0" xyz="0 0 0.01"/>
        <child link="part_1"/>
        <axis xyz="0 0 1"/>
    </joint>

    <xacro:include filename="$(find igvc_description)/urdf/model.urdf.xacro"/>
    <xacro:include filename="$(find igvc_description)/urdf/sensors.urdf.xacro"/>
    <xacro:include filename="$(find igvc_description)/urdf/caster.urdf.xacro"/>
    <xacro:include filename="$(find igvc_description)/control/bot.ros2_control.xacro" />

    <xacro:bot_ros2_control name="IGVC_Bot" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find igvc_hardware)/config/bot_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>